@charset "utf-8";
/* CSS Document */

#noall{
	background-color: #ff6651;
    color: #fff;
}

.hele-text{
	    display: table-footer-group;
		font-size: 10px;
}
.mod-pic{
	padding:0
}
.mod-pic li{
	height: 160px;
    word-spacing: normal;
    overflow: hidden;
    position: relative;
    width: 15%;
    margin: 0 0 10px 20px;
    padding-bottom: 8px;
    float: left;
    display: inline-table;
}

.mod-pic img{
	    background-size: 100%;
	width: 100%;
    height: 103px;
    border-radius: 2px;
}
.mod-pic em{display:inline-block;vertical-align:baseline;text-align:left;cursor:pointer;line-height:24px;color:#0C212A;font-size:12px;padding-top:3px;}

.mod-pic span {
    position: absolute;
    /* top: 67px; */
    left: 0;
    /* width: 130px; */
    height: 23px;
    line-height: 23px;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    background-color: transparent;
    background-color: rgba(56, 64, 71, 0.48);
    zoom: 1;
}

.mod-page2 li:nth-child(3),.mod-page2 li:nth-child(4),.mod-page2 li:nth-child(5),.mod-page2 li:nth-child(6),.mod-page2 li:nth-child(7),.mod-page2 li:nth-child(8),.mod-page2 li:nth-child(9),.mod-page2 li:nth-child(10),.mod-page2 li:nth-child(11),.mod-page2 li:nth-child(12),.mod-page2 li:nth-child(13){
	    display: none;
}
.mod-page2{
	clear: both;
    display: block;
}
.center{
	text-align:center;
}
.thisclass{
	background-color: #FF6651;
    color: #fff;
	margin: 0 4px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    cursor: pointer;
}
.mod-page2 li{
    display: inline-block;
	    list-style: none;
	}
.mod-page2{
	font-size: 14px;
}
.mod-page2 a {
    color: #FF6651;
    background: #fff;
    transition: background ease .4s;
    -webkit-transition: background ease .4s;
    -moz-transition: background ease .4s;
    -o-transition: background ease .4s;
    -ms-transition: background ease .4s;
}
.mod-page2 a {
    margin: 0 4px;
    width: 50px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    cursor: pointer;
}
@media only screen and (width:768px){
	.mod-pic li{
    width: 22%;
}
	};

@media only screen and (max-width:570px){
	.mod-pic li{
	height: 158px;
    width: 50%;
	margin: 0;
    padding: 0 3px 10px 0px;
}
}
@media only screen and (max-width:420px){
	.mod-pic img {
    height: 150px;
}
	.mod-pic li{
	height: 189px;
    width: 100%;
	margin: 0;
    padding: 0 3px 10px 0px;
}
}


.fenlei{margin-top:10px}
.b-listfilter{padding:0 20px;background-color:#fff;border:1px solid #e6e6e6;font-size:12px;line-height:16px}.b-listfilter-item{position:relative;overflow:hidden;height:40px;zoom:1;padding-left:36px;padding-right:50px;border-bottom:1px dashed #e6e6e6}.b-listfilter-item:last-child{border-bottom:0}.b-listfilter-item .type{position:absolute;left:0;top:10px;color:#999;padding:2px 0}.b-listfilter-item .item{padding:5px 0}.b-listfilter-item .item a{float:left;margin:5px 0 5px 16px;padding:2px 6px;zoom:1;height:20px;white-space:nowrap;word-wrap:break-word}.b-listfilter-item .on:hover,.b-listfilter-item .on{background-color:#FF6651;color:#fff}.b-listfilter-item .act{position:absolute;right:0;top:12px;height:16px;line-height:16px}.b-listfilter-item .act a{padding:0 13px 0 0;display:none}.b-listfilter-item .open{background:url(http://p6.qhmsg.com/t0187f8287120a671ea.png) right center no-repeat}.b-listfilter-item .close{background:url(http://p6.qhmsg.com/t018dad77370f0fe67d.png) right center no-repeat}

@media only screen and (max-width:420px){
.b-listfilter-item .item a{margin: 5px 0 5px 12px;}
.b-listtab-main .item {width: 44%;}
.b-listtab-main .cover{height:203px;}
.b-listtab-main .title .s1 {width: 82px;}
.b-listtab-main .detail {overflow: hidden;}
.b-listtab-main .item{height:262px;}
}
@media only screen and (max-width:320px){
.b-listfilter-item .item a{margin: 5px 0 5px 5px;}
.b-listtab-main .item {
    margin: 0 0 20px 18px;
}
}


.mod-page2 li:nth-child(13){display:initial;}
.paging{text-align:center;margin:24px 0;clear:both}.paging a{margin:0 4px;height:40px;line-height:40px; padding:0 20px;display:inline-block;cursor:pointer}.paging a{color:#ff6651;background:#fff;transition:background ease .4s;-webkit-transition:background ease .4s;-moz-transition:background ease .4s;-o-transition:background ease .4s;-ms-transition:background ease .4s}.paging a:hover{background-color:#ff6651;color:#fff;}.paging .current{background-color:#ff6651;color:#fff}#text-indent:hover{-webkit-animation:text-indent 1s ease 0s alternate none infinite}#text-indent:hover{-moz-animation:text-indent 1s ease 0s alternate none infinite}#text-indent:hover{animation:text-indent 1s ease 0s alternate none infinite}@-webkit-keyframes text-indent{from{text-indent:0}50%{text-indent:20px}to{text-indent:-20px}}@-moz-keyframes text-indent{from{text-indent:0}50%{text-indent:20px}to{text-indent:-20px}}