@charset "utf-8";

body {
    background-color: #28162c;
    color: #ccc;
}

body:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg.jpg) center 0 no-repeat;
}

h1, h2, h3, h4, h5, h6, a {
    color: #ccc;
}

.btn-warning {
    background-color: #1A9CD6;
    border-color: #1A9CD6;
    color: #fff;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:link, .btn-warning.active {
    background-color: #1A9CD6;
    border-color: #1A9CD6;
}

a:hover, .text-color, .hy-cascade .content-meun .item ul li a.active, .hy-cascade .content-meun .head span {
    color: #1A9CD6;
}

.text-muted, .hy-play-list .item .panel .downlist .table > thead > tr > th, .hy-cascade .content-meun .item ul li a, .hy-cascade .content-meun .head span.text, .hy-head-menu .item .search .btns {
    color: #999;
}

.videopic .score:before {
    border-top: 4px solid #09BB07;
    border-left: 4px solid transparent;
}

.hy-head-menu, .hy-layout, .hy-video-details, .hy-cascade, .hy-gototop .item > li > a, .hy-gototop .item > li > .code, .hy-gototop .item > li > .history, .hy-login {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.hy-index-menu li a, .hy-index-tags li a, .hy-right-qrcode dl, .hy-play-list .item .panel .playlist ul li a, .hy-page ul li a, .hy-page ul li .num, .hy-head-menu .item .search .form-control, .hy-video-hit .item, .hy-video-hit .item ul li, .btn-default, .hy-common .item .content, .hy-common .item .num {
    border: 1px solid #2b2a2a;
    background: rgba(0, 0, 0, 0.5);
    color: #ccc;
}

.hy-index-menu li a:hover, .hy-index-menu li a:hover .icon, .hy-index-tags li a:hover, .hy-cascade .content-meun .head dl dd span, .videopic .score, .hy-page ul li a:hover, .hy-page ul li.active a, .btn-default:hover, .hy-play-list .item .panel .playlist ul li a:hover, .hy-video-ranking li .number.active {
    background-color: #1A9CD6;
    color: #fff;
}

.hy-min-screen .item dl {
    border-left: 1px solid #2b2a2a;
}

.hy-video-ranking li .number, .hy-cascade:before, .hy-video-min-head h5:before, .hy-player .item .sidebar, .hy-comment-list .item .content {
    background: rgba(0, 0, 0, 0.5);
}

.hy-topic-content .head, .hy-video-head h4, .hy-video-details.active .item .content, .hy-cascade .left-head li a, .hy-cascade .left-head li.text, .hy-main-side .side, .hy-gototop .item > li > .history .head, .hy-common .item .content p, .hy-common .item .num em {
    border-bottom: 1px solid #2b2a2a;
}

.hy-play-list .item .panel, .hy-gototop .item > li > .history li, .hy-comment-list .item h4 {
    border: 0;
    border-top: 1px solid #2b2a2a;
}

.hy-video-text-list .item li .title a, .hy-play-list .item .panel .playlist, .hy-play-list .item .panel .downlist .table, .hy-play-list .item .panel .playlist, .hy-cascade .content-meun .item ul, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px dashed #2b2a2a;
}

.hy-switch-tabs .nav-tabs {
    border-bottom: 2px solid #2b2a2a;
}

.hy-switch-tabs .nav-tabs li.active a, .hy-switch-tabs .nav-tabs li.active a:hover, .hy-switch-tabs .nav-tabs li.active a:focus, .hy-head-menu .item .menulist li.active a {
    border: 0;
    background: none;
    border-bottom: 2px solid #1A9CD6;
    color: #1A9CD6;
}

.hy-cascade .left-head li a.active, .hy-video-min-head h5 span, .hy-play-list.play .item .panel .playlist, .hy-play-list.play .item .panel .option, .hy-player .item .footer {
    background: rgba(0, 0, 0, 0.5);
}

.hy-play-list.play .item .panel .option.collapsed, .hy-video-details.active {
    background-color: transparent;
}

.hy-gototop .item > li > .code:before, .hy-gototop .item > li > .history:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, 0.5);
}

.hy-player .item .info {
    background-color: #000;
}

.hy-player .item .sidebar::-webkit-scrollbar-track {
    background-color: #666;
}

.hy-player .item .sidebar::-webkit-scrollbar-thumb {
    background-color: #999;
}

.hy-player .item .sidebar::-webkit-scrollbar-track-piece {
    background: transparent;
}

.hy-footer-partner .item {
    background-color: #fff;
    border: 1px solid #2b2a2a;
}

.hy-footer-partner .item a {
    border: 1px solid #2b2a2a;
}

.hy-member-user .integral {
    background-color: #09BB07;
    color: #fff;
}

.hy-member-user dt .user {
    border: 2px solid #fff;
}

.hy-member-user dd .name {
    color: #fff;
}

.hy-member-user dd .group {
    color: #ccc;
}

.hy-comment .item .face {
    background-color: #f2f2f2;
}

.hy-comment-list .item .content:before {
    border-left: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.5);
    border-right: 8px solid transparent;
}

.hy-comment-list .item .content .reply {
    border-bottom: 1px dashed #2b2a2a;
}

@media (max-width: 767px) {

    body:before {
        background: url(../images/bg_app.jpg) center 0 no-repeat;
        background-size: cover;
    }

    .tabbar {
        background-color: #2b2a2a;
        border-top: 1px solid #444;
    }

    .tabbar .item {
        color: #999;
    }

    .tabbar .item.active {
        color: #09BB07;
    }

    .hy-layout, .hy-player .content, .hy-player .sidebar .hy-play-list.play, .hy-video-details {
        box-shadow: none;
    }

    .hy-head-menu {
        background: none;
        border: 0;
        box-shadow: none;
    }

    .hy-index-menu li a:hover, .hy-index-menu li a:hover .icon, .hy-index-tags li a:hover {
        background: none;
        color: #999;
    }

    .hy-cascade {
        background: #2b2a2a;
        box-shadow: none;
    }

    .hy-player .item .footer {
        border-bottom: 1px solid #2b2a2a;
    }

    .hy-cascade .content-meun .head {
        box-shadow: none;
        background-color: #2b2a2a;
        border-bottom: 1px solid #444;
    }

    .hy-min-screen .item dl {
        border-left: 0;
        border-top: 1px dashed #2b2a2a;
    }

    .hy-video-footer a {
        border-top: 1px solid #2b2a2a;
    }
}

.autocomplete-suggestions {
    background-color: #333;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 5px 0 5px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #333
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #1A9CD6;
}

.ff-bg {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}